.gradient {
	background: linear-gradient(-45deg, #0DEE8F, #EA61CC, #05DE69, #E755FF);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  height: 600px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.restrict {
  max-width: 520px;
  max-height: 520px;
  margin:  auto;
  padding: auto 20px;
  box-shadow: 10px 10px 10px #888888;
  border-radius: 10px;
}
